absl-py==1.1.0+computecanada
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.0.12+computecanada
click==8.1.3+computecanada
einops==0.4.1
google-auth==2.8.0+computecanada
google-auth-oauthlib==0.4.6+computecanada
grpcio==1.44.0+computecanada
idna==3.3+computecanada
importlib-metadata==4.12.0
Markdown==3.3.7+computecanada
monai==0.9.0
nibabel==4.0.1
numpy==1.22.2+computecanada
oauthlib==3.2.0+computecanada
packaging==21.3+computecanada
pillow==9.0.1+computecanada
protobuf==3.19.4+computecanada
pyasn1==0.4.8+computecanada
pyasn1-modules==0.2.8+computecanada
pyparsing==3.0.9+computecanada
requests==2.28.0+computecanada
requests-oauthlib==1.3.1
rsa==4.8+computecanada
scipy==1.8.0+computecanada
six==1.16.0+computecanada
tensorboard==2.9.1+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard-plugin-wit==1.8.1+computecanada
torch==1.10.0+computecanada
tqdm==4.64.0+computecanada
typer==0.4.1
typing-extensions==4.2.0+computecanada
urllib3==1.26.9+computecanada
werkzeug==2.1.2+computecanada
zipp==3.8.0+computecanada
